body{
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
    overflow: hidden;
    box-sizing: border-box;
}

body.dark{
    background-color:#121212;
    color: #e1e1ff;
    transition: 0.4s ease;
}

body.dark .praticiens .card-praticien{
    background-color: #1F1F1F;
}

body.dark .get-prat, body.dark .link{
    background-color: #03DAC5;
    border-color:  #03DAC5;
    color: black;
}

body.dark nav{
    background-color: #1F1F1F;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

body.dark .form-check-input:checked{
    background-color:  #03DAC5;
    border-color:  #03DAC5;
}

body.dark .form-control, body.dark .form-select{
    background-color: #1F1F1F;
    color:  #e1e1ff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.link{
    margin: 10px;
}

main{
    display: flex;
}

.resultat{
    width: 100%;
}

.center{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.map{
    height: 90vh;
    width: 600px;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.2);

}

.option{
    width: 50%;
}

.praticiens{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
    height: 100vh;

}

.avatar{
    width: 70px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.card-praticien{
    margin: auto;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px;
    transition: .4s ease-in-out;
}

.card-praticien:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    transition: .4s ease-in-out;
}

.nom{
    /* position: absolute; */
    padding: 20px;
    
}

.visite{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.localite{
    position: absolute;
    right: 10px;
    top: 10px;
}

.specialite{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

form{
    padding: 20px;
}

.get-prat{
    width: 125px;
    height: 40px;
}

.search .form-control{
    width: 133%;
}

.thumb-xl{
    width: 100%;
    transition: .4s ease;
}


